[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-pymongo = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
typing-extensions = "*"
pymongo = "*"

[requires]
python_version = "3.12"
