[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-pymongo = "*"
python-dotenv = "*"
typing-extensions = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.12"
